body{
    background: url(https://images.wallpapersden.com/image/download/mix-colour-background_a2ltZmiUmZqaraWkpJRobWllrWdma2U.jpg);
    text-align: center;
    margin: auto;
    font-size: x-large;
    font-style: italic;
    margin-top: 15em;
}